<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Crop recommender</title>
</head>
<body>
  <nav class="fixed top-0 left-0 right-0 z-10 bg-gradient-to-r from-gray-700 via-gray-900 to-black w-full h-20">
    <div class="container mx-auto px-10">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
           <img class="w-20 h-20 mt-2" src="static\images\l.png" alt="" srcset="">
        </div>
        <div class="flex mr-7">
          <a href="#" class="text-gray-300 hover:text-white px-3 py-2">Home</a>
          <a href="#service" class="text-gray-300 hover:text-white px-3 py-2">Services</a>
             </div>
      </div>
    </div>
  </nav>
  <div class="relative">
    <img src="static\images\2.jpg" alt="Background Image" class="w-full h-fit">
    <div class="absolute inset-0 flex items-center justify-center">
      <h1 class="text-white text-7xl font-extrabold p-2.5  ">Harvest AI</h1>
        </div>
        <div class="absolute inset-0 text-center mt-4 ">
          <p class="  text-center p-2.5v inline-block   text-white font-semibold font-mono my-96 ">Your Comprehensive Agricultural Solution for Crop Recommendation</p>
</div>
</div> 
  <div class="bg-white " id="service"> 
  <div class="mt-0"><h3 class="text-center text-2xl mt-4  font-extrabold font-serif">Our Service</h3></div>
  <div class="bg-white"> 
  <div class="flex justify-evenly">
    <a href="{{url_for("crop")}}">
      <div class="max-w-xs rounded overflow-hidden shadow-2xl mx-20 my-14 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-zinc-100 duration-300">
        <img class="w-full" src="static\images\ss.jpg" alt="card">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Crop Recommender</div>
          <p class="text-gray-700 text-lg text-justify">Harnessing data on soil quality, weather patterns, and expert knowledge, it suggests the most suitable crops for your region. Increase productivity, reduce risks, and make informed decisions for better yields. Experience the power of data-driven farming.</p>
        </div>
        
      </div>
    </a>
       
     
     
  </div>
</div>
</div>
</div>
   
  <footer class="bg-gray-800 py-4">
    <div class="container mx-auto flex items-center justify-center">
      <span class="text-gray-400">© 2023 My Website. All rights reserved.</span>
      <span class="text-gray-400 mx-2">|</span>
      <span class="text-gray-400">Made with</span>
      <span class="text-red-500 mx-1 ">&hearts;</span>
      <span class="text-gray-400">by Shantanu yadav,Shreyas j and Sumanth kumar</span>
     
    </div>
  </footer>
  
  
</body>
</html>